* {
    /* font-family: 'Courier'; */
    font-family: 'Indie Flower';
    font-family: 'Pangolin';
    text-align: center;
    text-transform: lowercase;
}

body {
    background: url(https://media.istockphoto.com/photos/white-lines-paper-school-background-picture-id1187716877?b=1&k=20&m=1187716877&s=170667a&w=0&h=9hi79WkZqIR4rfI4Sv2IHeXprga0KfS414OiPAf0leM=) no-repeat center center fixed;
    background-size: cover;
}

.item-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.item-info {
    max-width: 400px;
}

.capsule-item-container-even {
    max-width: 225px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.memory-container {
    border: 2px solid #f6ca99;
    border-radius: 4px;
    padding: 20px;
    max-width: 400px;
    background-color: white;
}

.words-container {
    border: 2px solid #f6ca99;
    border-radius: 4px;
    padding: 20px;
    max-width: 400px;
    background-color: white;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

a {
    border: 2px solid #f6ca99;
    border-radius: 4px;
    padding: 10px;
    transition: .5s;
}

a:hover {
    background-color: #aae3f1;
    box-shadow: 7px 6px 5px #f6ca99;
}

.delete-btn {
    border: 2px solid #f6ca99;
    border-radius: 4px;
    padding: 10px;
    background-color: #f4c6c5;
    font-size: 16px;
    transition: .5s;
}

.delete-btn:hover {
    background-color: white;
    border: 2px solid #f4c6c5;
    box-shadow: 7px 6px 5px #f4c6c5;
}

.add-btn {
    border: none;
}

.add-btn:hover {
    background-color: none;
}

@media only screen and (max-width: 500px) {

    * {
        font-size: 20px;
    }

    a {
        font-size: 20px;
    }

    .delete-btn {
        font-size: 20px;
    }

}
