* {
    /* font-family: 'Courier'; */
    /* font-family: 'Indie Flower'; */
    font-family: 'Pangolin';
    text-align: center;
    text-transform: lowercase;
}

.logo {
    margin-left: 10px;
}

.logo:hover {
    background-color: #f6ca99;
    color: #aae3f1;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6ca99;
}

.list-inline {
	list-style-type: none;
	margin-left: 2em;
	margin-right: 2em;
	padding: 0;
}

nav h1 {
    padding-left: 10px;
    margin-left: 10px;
}

nav li {
    display: inline;
    padding: 10px;
}

.background-container {
  background: url(https://2.bp.blogspot.com/-IZAeghpJivM/UZdp3t1Iu8I/AAAAAAAAc-o/igW5CTYbhDw/s1600/suburbia_Edward+Scissorhands.jpg) no-repeat center center fixed;
  /* background: url(https://c.stocksy.com/a/TBX000/z9/127563.jpg) no-repeat center center fixed; */
  /* background-size: 1200px; */
  margin: 0 auto;
  margin-top: 20px;
  background-color: #c5dfd2;
  /* background-size: cover; */
  /* max-width: 1000px; */
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: black;
}

.img-container {
    height: 225px;
    width: 225px;
    margin: 0 auto;
    background-color: #ccc;
    border: 1px solid whitesmoke;
}

.item-img {
    /* width: 100%;
    height: auto; */
    height: 225px;
    width: 225px;
    border: 2px solid whitesmoke;
    filter: grayscale(30%) sepia(20%);
    /* filter: sepia(40%); */
    object-fit: cover;
    /* filter: grayscale(20%); */
}

.capsule-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    gap: 60px;
    /* background-color: thistle; */
    padding: 20px;
    margin: 0 auto;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
}

.capsule-item-container-even {
    transform: rotate(1deg);
    display: flex;
    flex-direction: column;
    max-height: 300px;
    padding: 15px 15px 0 15px;
    background-color: white;
    border: 2px solid whitesmoke;
    box-shadow: 2px 1px 1px gray;
    transition: .5s;
    margin-top: 30px;
}

.capsule-item-container-even:hover {
    box-shadow: 7px 6px 5px #f6ca99;
    transform: rotate(0deg);
}

.capsule-item-copy-even {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    max-width: 250px;
    height: 60px;
    padding-top: 10px;
    background-color: white;
}

.capsule-item-copy-even a:hover {
    font-size: 20px;
    font-weight: bold;
}

.capsule-item-container-odd {
    transform: rotate(-1deg);
    display: flex;
    flex-direction: column;
    max-height: 300px;
    padding: 15px 15px 0 15px;
    background-color: white;
    border: 2px solid whitesmoke;
    box-shadow: 2px 1px 1px gray;
    transition: .5s;
    margin-top: 40px;
}

.capsule-item-container-odd:hover {
    box-shadow: 7px 6px 5px #f6ca99;
    transform: rotate(0deg);
}

.capsule-item-copy-odd {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    max-width: 250px;
    height: 60px;
    padding-top: 10px;
    background-color: white;
}

.capsule-item-copy-odd a:hover {
    font-size: 20px;
    font-weight: bold;
    object-fit: contain;
}

@media only screen and (max-width: 500px) {

    * {
        font-size: 20px;
    }

    a {
        font-size: 20px;
    }

    .background-container {
       background: none;
       background-color: #c5dfd2;
    }

}
