<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>my collection</h1>
        <div class="collection-container">
            <% for (let i = 0; i < collections.length; i++) { %>
                <div class="collection-item-container">
                    <a href="/collections/<%=collections[i]._id%>"><%=collections[i].name%></a>
                    <img src="<%=collections[i].img%>" alt="">
                </div>
            <% } %>
        </div>
    </body>
</html>
