<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>add new collection item</h1>
        <form class="" action="/collections" method="POST">
            <label for="name">item name:</label>
            <input type="text" name="name">
            <label for="name">description:</label>
            <input type="text" name="description">
            <label for="name">image link:</label>
            <input type="text" name="img">
            <label for="name">memory:</label>
            <input type="text" name="memory">
            <label for="name">location:</label>
            <input type="text" name="location">
            <label for="name">date:</label>
            <input type="text" name="location">
            <input type="submit" name="" value="add item">
        </form>
        <a href="/collections">back to collection</a>
    </body>
</html>
