<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>add new collection item</h1>
        <form class="" action="/timecapsule" method="POST">
            <label for="name">item name:</label>
            <input type="text" name="name">

            <label for="description">description:</label>
            <input type="text" name="description">

            <label for="img">image link:</label>
            <input type="text" name="img">

            <label for="memory">memory:</label>
            <input type="text" name="memory">

            <label for="location">location:</label>
            <input type="text" name="location">

            <label for="date">date:</label>
            <input type="text" name="date">

            <input type="submit" name="" value="add item">
        </form>
        <a href="/timecapsule">back to collection</a>
    </body>
</html>
