<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>my collection</h1>
        <div class="capsule-container">
            <% for (let i = 0; i < timeCapsule.length; i++) { %>
                <div class="capsule-item-container">
                    <img src="<%=timeCapsule[i].img%>" alt="">
                    <a href="/timecapsule/<%=timeCapsule[i]._id%>"><%=timeCapsule[i].name%></a>
                    <p><%=timeCapsule[i].location%></p>
                </div>
            <% } %>
        </div>
    </body>
</html>
