<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>add new collection item</h1>
        <form class="" action="/timecapsule" method="POST">
            <label for="item">item name:</label>
            <input type="text" name="item">

            <label for="name">your name:</label>
            <input type="text" name="name">

            <label for="location">location:</label>
            <input type="text" name="location">

            <label for="date">date:</label>
            <input type="date" name="date">

            <label for="img">image link:</label>
            <input type="text" name="img">

            <label for="memory">memory:</label>
            <input type="text" name="memory">

            <label for="words">wise words for future self:</label>
            <input type="text" name="words">

            <input type="submit" name="" value="add item">
        </form>
        <a href="/timecapsule">back to collection</a>
    </body>
</html>
