<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pangolin&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/edit.css">
    </head>
    <body>
        <div class="loginContainer">
            <h1>log in</h1>
            <form class="login" action="/sessions" method="POST">
                <label for="username">username:</label>
                <input type="text" name="username" required/><br><br>
                <label for="password">password:</label>
                <input type="password" id="password" name="password" />
                <br><br><br>
                <input type="submit" value="log in">
            </form>
        </div>
    </body>
</html>
