<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="signupContainer">
            <h1>sign up</h1>
            <form class="signup" action="/users" method="POST">
                <label for="name">Username:</label>
                <input type="text" name="username" required/>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" />
                <br>
                <input type="submit" value="sign up">
            </form>
        </div>
    </body>
</html>
